/**
 * Styles for the add-observation.html page 
 */
 .required:after {
   content: "* ";
   color: red;
}

#description{
   width: 550px;
}

#latitudeDiv{
   color: red;
}
#longitudeDiv{
   color: red; 
}

#labelLatitude{
   color: black;
}
#labelLongitude{
   color: black;
}

#latitudeDiv::before{
   content: " "
}

#longitudeDiv::before{
   content: " "
}

